force-app/main/default/flows/FAS_ResponseProceduresFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CalcClose</name>
        <label>対応手順完了数計算</label>
        <locationX>659</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>closeStep</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>CalcTotal</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalcTotal</name>
        <label>対応手順総数計算</label>
        <locationX>451</locationX>
        <locationY>421</locationY>
        <assignmentItems>
            <assignToReference>totalStep</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopProcessStep</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>CompareTotalClose</name>
        <label>総数完了数比較</label>
        <locationX>229</locationX>
        <locationY>390</locationY>
        <defaultConnector>
            <targetReference>UpdateCaseNotClose</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>equalTotalClose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>totalStep</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>closeStep</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>UpdateCaseClose</targetReference>
            </connector>
            <label>総数=完了数</label>
        </rules>
    </decisions>
    <decisions>
        <name>isCloseProcessStep</name>
        <label>対応手順完了判定</label>
        <locationX>552</locationX>
        <locationY>227</locationY>
        <defaultConnector>
            <targetReference>CalcTotal</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>isClose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>processStep.ProcessTaskStatus__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>完了</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalcClose</targetReference>
            </connector>
            <label>完了</label>
        </rules>
    </decisions>
    <interviewLabel>FAS_対応手順状況把握 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAS_対応手順状況把握</label>
    <loops>
        <name>LoopProcessStep</name>
        <label>対応手順ループ</label>
        <locationX>236</locationX>
        <locationY>231</locationY>
        <assignNextValueToReference>processStep</assignNextValueToReference>
        <collectionReference>processSteps</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isCloseProcessStep</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>CompareTotalClose</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SearchProcessStep</name>
        <label>対象対応手順検索</label>
        <locationX>236</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopProcessStep</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>ProcessStep__c</object>
        <outputReference>processSteps</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ProcessTaskStatus__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCaseClose</name>
        <label>対応手順完了</label>
        <locationX>137</locationX>
        <locationY>567</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseProcessSteps__c</field>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <name>UpdateCaseNotClose</name>
        <label>対応手順未完了</label>
        <locationX>332</locationX>
        <locationY>567</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>CloseProcessSteps__c</field>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>SearchProcessStep</startElementReference>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>closeStep</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>processStep</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessStep__c</objectType>
    </variables>
    <variables>
        <name>processSteps</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>ProcessStep__c</objectType>
    </variables>
    <variables>
        <name>totalStep</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
