force-app/main/default/flows/FAS_EscalationTaskCalc.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>CalcClose</name>
        <label>調査タスク完了計算</label>
        <locationX>389</locationX>
        <locationY>564</locationY>
        <assignmentItems>
            <assignToReference>closeTask</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>LoopEscalationTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalcField</name>
        <label>調査タスクフィールド依頼数</label>
        <locationX>801</locationX>
        <locationY>376</locationY>
        <assignmentItems>
            <assignToReference>sumFieldTask</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCloseEscalationTask</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>CalcSum</name>
        <label>調査タスク工場依頼数計算</label>
        <locationX>569</locationX>
        <locationY>375</locationY>
        <assignmentItems>
            <assignToReference>sumTask</assignToReference>
            <operator>Add</operator>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>IsCloseEscalationTask</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>IsCloseEscalationTask</name>
        <label>調査タスク完了判定</label>
        <locationX>682</locationX>
        <locationY>551</locationY>
        <defaultConnector>
            <targetReference>LoopEscalationTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>isClose</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>escalationTask.Status__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>完了</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalcClose</targetReference>
            </connector>
            <label>完了</label>
        </rules>
    </decisions>
    <decisions>
        <name>notCancelEscalationTask</name>
        <label>調査タスク非取消判定</label>
        <locationX>666</locationX>
        <locationY>214</locationY>
        <defaultConnector>
            <targetReference>LoopEscalationTask</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>notCancelAndNotField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>escalationTask.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>取消</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>escalationTask.Iraisaki__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>フィールド</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalcSum</targetReference>
            </connector>
            <label>非取消&amp;工場</label>
        </rules>
        <rules>
            <name>notCancelAndField</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>escalationTask.Status__c</leftValueReference>
                <operator>NotEqualTo</operator>
                <rightValue>
                    <stringValue>取消</stringValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>escalationTask.Iraisaki__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <stringValue>フィールド</stringValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>CalcField</targetReference>
            </connector>
            <label>非取消&amp;フィールド</label>
        </rules>
    </decisions>
    <interviewLabel>FAS_調査タスク状況計算 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>FAS_調査タスク状況計算</label>
    <loops>
        <name>LoopEscalationTask</name>
        <label>調査タスクループ</label>
        <locationX>277</locationX>
        <locationY>219</locationY>
        <assignNextValueToReference>escalationTask</assignNextValueToReference>
        <collectionReference>escalationTasks</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>notCancelEscalationTask</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>UpdateCase</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>SearchEscalationTask</name>
        <label>対象調査タスク検索</label>
        <locationX>277</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>LoopEscalationTask</targetReference>
        </connector>
        <filters>
            <field>Case__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <object>EscalationTask__c</object>
        <outputReference>escalationTasks</outputReference>
        <queriedFields>Status__c</queriedFields>
        <queriedFields>Iraisaki__c</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>UpdateCase</name>
        <label>調査タスク数更新</label>
        <locationX>176</locationX>
        <locationY>554</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>caseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>EscalationTaskClose__c</field>
            <value>
                <elementReference>closeTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationTaskField__c</field>
            <value>
                <elementReference>sumFieldTask</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>EscalationTaskSum__c</field>
            <value>
                <elementReference>sumTask</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>SearchEscalationTask</startElementReference>
    <status>Active</status>
    <variables>
        <name>caseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>closeTask</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>escalationTask</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EscalationTask__c</objectType>
    </variables>
    <variables>
        <name>escalationTasks</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>EscalationTask__c</objectType>
    </variables>
    <variables>
        <name>sumFieldTask</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
    <variables>
        <name>sumTask</name>
        <dataType>Number</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <scale>0</scale>
        <value>
            <numberValue>0.0</numberValue>
        </value>
    </variables>
</Flow>
