force-app/main/default/flows/FAS_StatusUpdate.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].CreatedBy.Id}]\n{![Case].MessageReject__c}\n\n{![Case].MessageSubject__c} {![Case].Subject}\n{![Case].MessageRejReason__c} {![Case].KyakkaRiyu__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_12_A1</name>
        <label>投稿(ご意見作成者)</label>
        <locationX>1200</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.CreatedBy.Id}]
{!myVariable_current.MessageReject__c}

{!myVariable_current.MessageSubject__c} {!myVariable_current.Subject}
{!myVariable_current.MessageRejReason__c} {!myVariable_current.KyakkaRiyu__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].TscGroup__c}]\nケースが作成されました。\n\n件名：{![Case].Subject}\n事故内容：{![Case].JikoNaiyou__c}\n事故発生日時：{![Case].HasseiNichiji__c}\n形式：{![Case].Keisiki__c}\n状況：{![Case].Status_Display__c}\n処理状況：{![Case].SyoriStatus__c}\n対応レベル：{![Case].JikoLv__c}\n事故状況：{![Case].Gensyou__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_14_A2</name>
        <label>投稿(TSC)</label>
        <locationX>1400</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.TscGroup__c}]
ケースが作成されました。

件名：{!myVariable_current.Subject}
事故内容：{!myVariable_current.JikoNaiyou__c}
事故発生日時：{!myVariable_current.HasseiNichiji__c}
形式：{!myVariable_current.Keisiki__c}
状況：{!myVariable_current.Status_Display__c}
処理状況：{!myVariable_current.SyoriStatus__c}
対応レベル：{!myVariable_current.JikoLv__c}
事故状況：{!myVariable_current.Gensyou__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].TscGroup__c}]\n顧客ご意見が作成されました。\n\n件名：{![Case].Subject}\n状況（起票～クローズ）：{![Case].Status}\n完了期限：{![Case].KanryouKigen__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_17_A1</name>
        <label>投稿(ご意見TSC)</label>
        <locationX>1700</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.TscGroup__c}]
顧客ご意見が作成されました。

件名：{!myVariable_current.Subject}
状況（起票～クローズ）：{!myVariable_current.Status}
完了期限：{!myVariable_current.KanryouKigen__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].QaGroup__c}]\nQAグループにケースが割当てられました。\n\n件名：{![Case].Subject}\n事故内容：{![Case].JikoNaiyou__c}\n事故発生日時：{![Case].HasseiNichiji__c}\n形式：{![Case].Keisiki__c}\n状況：{![Case].Status_Display__c}\n処理状況：{![Case].SyoriStatus__c}\n対応レベル：{![Case].JikoLv__c}\n事故状況：{![Case].Gensyou__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_19_A2</name>
        <label>投稿(QA)</label>
        <locationX>1900</locationX>
        <locationY>300</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.QaGroup__c}]
QAグループにケースが割当てられました。

件名：{!myVariable_current.Subject}
事故内容：{!myVariable_current.JikoNaiyou__c}
事故発生日時：{!myVariable_current.HasseiNichiji__c}
形式：{!myVariable_current.Keisiki__c}
状況：{!myVariable_current.Status_Display__c}
処理状況：{!myVariable_current.SyoriStatus__c}
対応レベル：{!myVariable_current.JikoLv__c}
事故状況：{!myVariable_current.Gensyou__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].QaGroup__c}]\nQAグループに顧客ご意見が割当てられました。\n\n件名：{![Case].Subject}\n状況（起票～クローズ）：{![Case].Status_Display__c}\n完了期限：{![Case].KanryouKigen__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_22_A1</name>
        <label>投稿(ご意見QA)</label>
        <locationX>2200</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.QaGroup__c}]
QAグループに顧客ご意見が割当てられました。

件名：{!myVariable_current.Subject}
状況（起票～クローズ）：{!myVariable_current.Status_Display__c}
完了期限：{!myVariable_current.KanryouKigen__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].SalesPerson__r.Id}]\n@[{![Case].CreatedBy.Id}]\n@[{![Case].GentiKakuninSekininsya__r.Id}]\n@[{![Case].GentiKakuninTantousya__r.Id}]\n@[{![Case].TscGroup__c}]\n{![Case].MessageAnsReturn__c}\n\n{![Case].MessageSubject__c} {![Case].Subject}\n{![Case].MessageAccName__c} {![Case].Account.Name}\n{![Case].MessageDeadline__c} {![Case].KanryouKigen__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_24_A1</name>
        <label>投稿(ご意見営業&amp;FSE&amp;TSC)</label>
        <locationX>2400</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.SalesPerson__r.Id}]
@[{!myVariable_current.CreatedBy.Id}]
@[{!myVariable_current.GentiKakuninSekininsya__r.Id}]
@[{!myVariable_current.GentiKakuninTantousya__r.Id}]
@[{!myVariable_current.TscGroup__c}]
{!myVariable_current.MessageAnsReturn__c}

{!myVariable_current.MessageSubject__c} {!myVariable_current.Subject}
{!myVariable_current.MessageAccName__c} {!myVariable_current.Account.Name}
{!myVariable_current.MessageDeadline__c} {!myVariable_current.KanryouKigen__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].CreatedBy.Id}]\n@[{![Case].GentiKakuninSekininsya__r.Id}]\n@[{![Case].GentiKakuninTantousya__r.Id}]\n@[{![Case].TscGroup__c}]\n{![Case].MessageAnsReturn__c}\n\n{![Case].MessageSubject__c} {![Case].Subject}\n{![Case].MessageAccName__c} {![Case].Account.Name}\n{![Case].MessageDeadline__c} {![Case].KanryouKigen__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_26_A1</name>
        <label>投稿(ご意見FSE&amp;TSC)</label>
        <locationX>2600</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.CreatedBy.Id}]
@[{!myVariable_current.GentiKakuninSekininsya__r.Id}]
@[{!myVariable_current.GentiKakuninTantousya__r.Id}]
@[{!myVariable_current.TscGroup__c}]
{!myVariable_current.MessageAnsReturn__c}

{!myVariable_current.MessageSubject__c} {!myVariable_current.Subject}
{!myVariable_current.MessageAccName__c} {!myVariable_current.Account.Name}
{!myVariable_current.MessageDeadline__c} {!myVariable_current.KanryouKigen__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].TscGroup__c}]\n顧客報告結果を確認し、「状況」を更新してください。\n\n件名：{![Case].Subject}\n会社/施設名：{![Case].Account.Name}\n完了期限：{![Case].KanryouKigen__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_28_A1</name>
        <label>投稿(ご意見TSC)</label>
        <locationX>2800</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.TscGroup__c}]
顧客報告結果を確認し、「状況」を更新してください。

件名：{!myVariable_current.Subject}
会社/施設名：{!myVariable_current.Account.Name}
完了期限：{!myVariable_current.KanryouKigen__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <processMetadataValues>
            <name>textJson</name>
            <value>
                <stringValue>{&quot;mentions&quot;:[],&quot;message&quot;:&quot;@[{![Case].QaGroup__c}]\n顧客報告結果を確認し、クローズしてください。\n\n件名：{![Case].Subject}\n会社/施設名：{![Case].Account.Name}\n完了期限：{![Case].KanryouKigen__c}&quot;}</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_30_A1</name>
        <label>投稿(ご意見QA)</label>
        <locationX>3000</locationX>
        <locationY>200</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>text</name>
            <value>
                <stringValue>@[{!myVariable_current.QaGroup__c}]
顧客報告結果を確認し、クローズしてください。

件名：{!myVariable_current.Subject}
会社/施設名：{!myVariable_current.Account.Name}
完了期限：{!myVariable_current.KanryouKigen__c}</stringValue>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision7</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>新規作成</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>2.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision11</name>
        <label>myDecision11</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision13</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_12</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_pmetdec</targetReference>
            </connector>
            <label>顧客ご意見 却下</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>3.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision13</name>
        <label>myDecision13</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision16</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_14</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_pmetdec</targetReference>
            </connector>
            <label>TSC調査</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>4.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision16</name>
        <label>myDecision16</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision18</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_17</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_pmetdec</targetReference>
            </connector>
            <label>顧客ご意見 TSC調査</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>5.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision18</name>
        <label>myDecision18</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision21</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_19</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_pmetdec</targetReference>
            </connector>
            <label>QA受付</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>6.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision21</name>
        <label>myDecision21</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision23</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_22</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_22</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_pmetdec</targetReference>
            </connector>
            <label>顧客ご意見 QA受付</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>7.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision23</name>
        <label>myDecision23</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision25</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_24</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_24</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_pmetdec</targetReference>
            </connector>
            <label>顧客ご意見 回答返却 営業</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>8.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision25</name>
        <label>myDecision25</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision27</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_26</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_26</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_pmetdec</targetReference>
            </connector>
            <label>顧客ご意見 回答返却</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>9.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision27</name>
        <label>myDecision27</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision29</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_28</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_28</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_28_pmetdec</targetReference>
            </connector>
            <label>顧客ご意見 回答受領(TSC)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>10.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision29</name>
        <label>myDecision29</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_30</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_30</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_pmetdec</targetReference>
            </connector>
            <label>顧客ご意見 回答受領(QA)</label>
        </rules>
    </decisions>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>1.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision7</name>
        <label>myDecision7</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnector>
            <targetReference>myDecision11</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_8</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_pmetdec</targetReference>
            </connector>
            <label>停滞基準日時設定</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_12_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1200</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_12_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_12_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_12_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_12_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_12_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_14_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_14_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_14_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_14_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_14_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_14_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_17_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1700</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_17_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_17_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_17_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_17_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_17_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_19_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>1900</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_19_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_19_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_19_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_19_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_19_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_22_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2200</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_22_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_22_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_22_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_22_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_22_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_24_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2400</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_24_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_24_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_24_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_24_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_24_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_26_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2600</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_26_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_26_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_26_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_26_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_26_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_28_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>2800</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_28_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_28_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_28_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_28_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_28_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_30_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>3000</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_30_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_30_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_30_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_30_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_30_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <decisions>
        <name>myRule_8_pmetdec</name>
        <label>Previously Met Decision</label>
        <locationX>800</locationX>
        <locationY>100</locationY>
        <defaultConnector>
            <targetReference>myRule_8_A1</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Not Previously Met</defaultConnectorLabel>
        <rules>
            <name>myRule_8_pmetnullrule</name>
            <conditionLogic>or</conditionLogic>
            <conditions>
                <leftValueReference>myVariable_old</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_8_A1</targetReference>
            </connector>
            <label>Previously Met - Null</label>
        </rules>
        <rules>
            <name>myRule_8_pmetrule</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_8_pmetrule</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myDecision11</targetReference>
            </connector>
            <label>Previously Met - Prev</label>
        </rules>
    </decisions>
    <description>【アフターセールスプロセス刷新】</description>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_10_myRule_8_A1_3404559023</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].TscQueue__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_15_myRule_14_A1_9593113842</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.TscQueue__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].QaQueue__c </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_20_myRule_19_A1_9073042372</name>
        <dataType>String</dataType>
        <expression>{!myVariable_current.QaQueue__c}</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( TEXT( [Case].CaseKbn__c ) , 
    &quot;評価&quot; , 48 , 
    &quot;科学&quot; , 48 , 
    &quot;バ分&quot; , 48 , 
    &quot;半装&quot; , 48 , 
    &quot;HFS&quot; , 48 , 
    &quot;HHS那珂&quot; , 48 , 
    &quot;HHS_BT&quot; , 48 , 
    &quot;HHS_分析&quot; , 48 , 
    &quot;医用&quot; , 2 , 
    &quot;計測&quot; , 1 , 
    0 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_9169748567</name>
        <dataType>Number</dataType>
        <expression>CASE( TEXT( {!myVariable_current.CaseKbn__c} ) , 
    &quot;評価&quot; , 48 , 
    &quot;科学&quot; , 48 , 
    &quot;バ分&quot; , 48 , 
    &quot;半装&quot; , 48 , 
    &quot;HFS&quot; , 48 , 
    &quot;HHS那珂&quot; , 48 , 
    &quot;HHS_BT&quot; , 48 , 
    &quot;HHS_分析&quot; , 48 , 
    &quot;医用&quot; , 2 , 
    &quot;計測&quot; , 1 , 
    0 
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( TEXT( [Case].CaseKbn__c ) , 
    &quot;評価&quot; , 72 , 
    &quot;科学&quot; , 72 , 
    &quot;バ分&quot; , 72 , 
    &quot;半装&quot; , 72 , 
    &quot;HFS&quot; , 72 , 
    &quot;HHS那珂&quot; , 72 , 
    &quot;HHS_BT&quot; , 72 , 
    &quot;HHS_分析&quot; , 72 , 
    &quot;医用&quot; , 4 , 
    &quot;計測&quot; , 2 , 
    0 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_3_myRule_1_A1_0825112543</name>
        <dataType>Number</dataType>
        <expression>CASE( TEXT( {!myVariable_current.CaseKbn__c} ) , 
    &quot;評価&quot; , 72 , 
    &quot;科学&quot; , 72 , 
    &quot;バ分&quot; , 72 , 
    &quot;半装&quot; , 72 , 
    &quot;HFS&quot; , 72 , 
    &quot;HHS那珂&quot; , 72 , 
    &quot;HHS_BT&quot; , 72 , 
    &quot;HHS_分析&quot; , 72 , 
    &quot;医用&quot; , 4 , 
    &quot;計測&quot; , 2 , 
    0 
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( TEXT( [Case].CaseKbn__c ) , 
    &quot;評価&quot; , 16 , 
    &quot;科学&quot; , 16 , 
    &quot;バ分&quot; , 16 , 
    &quot;半装&quot; , 16 , 
    &quot;HFS&quot; , 24 , 
    &quot;HHS那珂&quot; , 24 , 
    &quot;HHS_BT&quot; , 24 , 
    &quot;HHS_分析&quot; , 24 , 
    &quot;医用&quot; , 4 , 
    &quot;計測&quot; , 2 , 
    0 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_4_myRule_1_A1_4617661961</name>
        <dataType>Number</dataType>
        <expression>CASE( TEXT( {!myVariable_current.CaseKbn__c} ) , 
    &quot;評価&quot; , 16 , 
    &quot;科学&quot; , 16 , 
    &quot;バ分&quot; , 16 , 
    &quot;半装&quot; , 16 , 
    &quot;HFS&quot; , 24 , 
    &quot;HHS那珂&quot; , 24 , 
    &quot;HHS_BT&quot; , 24 , 
    &quot;HHS_分析&quot; , 24 , 
    &quot;医用&quot; , 4 , 
    &quot;計測&quot; , 2 , 
    0 
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( TEXT( [Case].CaseKbn__c ) , 
    &quot;評価&quot; , 24 , 
    &quot;科学&quot; , 48 , 
    &quot;バ分&quot; , 48 , 
    &quot;半装&quot; , 24 , 
    &quot;HFS&quot; , 48 , 
    &quot;HHS那珂&quot; , 48 , 
    &quot;HHS_BT&quot; , 48 , 
    &quot;HHS_分析&quot; , 48 , 
    &quot;医用&quot; , 4 , 
    &quot;計測&quot; , 2 , 
    0 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_5_myRule_1_A1_3506697925</name>
        <dataType>Number</dataType>
        <expression>CASE( TEXT( {!myVariable_current.CaseKbn__c} ) , 
    &quot;評価&quot; , 24 , 
    &quot;科学&quot; , 48 , 
    &quot;バ分&quot; , 48 , 
    &quot;半装&quot; , 24 , 
    &quot;HFS&quot; , 48 , 
    &quot;HHS那珂&quot; , 48 , 
    &quot;HHS_BT&quot; , 48 , 
    &quot;HHS_分析&quot; , 48 , 
    &quot;医用&quot; , 4 , 
    &quot;計測&quot; , 2 , 
    0 
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE( TEXT( [Case].CaseKbn__c ) , 
    &quot;評価&quot; , 8 , 
    &quot;科学&quot; , 8 , 
    &quot;バ分&quot; , 8 , 
    &quot;半装&quot; , 8 , 
    &quot;HFS&quot; , 24 , 
    &quot;HHS那珂&quot; , 24 , 
    &quot;HHS_BT&quot; , 24 , 
    &quot;HHS_分析&quot; , 24 , 
    &quot;医用&quot; , 2 , 
    &quot;計測&quot; , 1 , 
    0 
) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_6_myRule_1_A1_6759769322</name>
        <dataType>Number</dataType>
        <expression>CASE( TEXT( {!myVariable_current.CaseKbn__c} ) , 
    &quot;評価&quot; , 8 , 
    &quot;科学&quot; , 8 , 
    &quot;バ分&quot; , 8 , 
    &quot;半装&quot; , 8 , 
    &quot;HFS&quot; , 24 , 
    &quot;HHS那珂&quot; , 24 , 
    &quot;HHS_BT&quot; , 24 , 
    &quot;HHS_分析&quot; , 24 , 
    &quot;医用&quot; , 2 , 
    &quot;計測&quot; , 1 , 
    0 
)</expression>
        <scale>18</scale>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>NOW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_9_myRule_8_A2_8499275077</name>
        <dataType>DateTime</dataType>
        <expression>NOW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>BEGINS( [Case].RecordType.DeveloperName , &quot;FAS&quot; ) 
&amp;&amp; 
ISNEW() </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS( {!myVariable_current.RecordType.DeveloperName} , &quot;FAS&quot; ) 
&amp;&amp; 
ISNEW()</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;Rejected&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status} , &quot;Rejected&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;Rejected&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_12_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status} , &quot;Rejected&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(  [Case].RecordType.DeveloperName = &quot;FAS_KokunaiKyotsu&quot; 
|| [Case].RecordType.DeveloperName = &quot;FAS_KokunaiIyo&quot; 
|| [Case].RecordType.DeveloperName = &quot;FAS_FRJokyoKanri&quot; ) 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;TSC investigation&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14</name>
        <dataType>Boolean</dataType>
        <expression>(  {!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokunaiKyotsu&quot; 
|| {!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokunaiIyo&quot; 
|| {!myVariable_current.RecordType.DeveloperName} = &quot;FAS_FRJokyoKanri&quot; ) 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status} , &quot;TSC investigation&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(  [Case].RecordType.DeveloperName = &quot;FAS_KokunaiKyotsu&quot; 
|| [Case].RecordType.DeveloperName = &quot;FAS_KokunaiIyo&quot; 
|| [Case].RecordType.DeveloperName = &quot;FAS_FRJokyoKanri&quot; ) 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;TSC investigation&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_14_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(  {!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokunaiKyotsu&quot; 
|| {!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokunaiIyo&quot; 
|| {!myVariable_old.RecordType.DeveloperName} = &quot;FAS_FRJokyoKanri&quot; ) 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status} , &quot;TSC investigation&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;TSC investigation&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status} , &quot;TSC investigation&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;TSC investigation&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_17_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status} , &quot;TSC investigation&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(  [Case].RecordType.DeveloperName = &quot;FAS_KokunaiKyotsu&quot; 
|| [Case].RecordType.DeveloperName = &quot;FAS_KokunaiIyo&quot; 
|| [Case].RecordType.DeveloperName = &quot;FAS_FRJokyoKanri&quot; ) 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;QA reception&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19</name>
        <dataType>Boolean</dataType>
        <expression>(  {!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokunaiKyotsu&quot; 
|| {!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokunaiIyo&quot; 
|| {!myVariable_current.RecordType.DeveloperName} = &quot;FAS_FRJokyoKanri&quot; ) 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status} , &quot;QA reception&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>(  [Case].RecordType.DeveloperName = &quot;FAS_KokunaiKyotsu&quot; 
|| [Case].RecordType.DeveloperName = &quot;FAS_KokunaiIyo&quot; 
|| [Case].RecordType.DeveloperName = &quot;FAS_FRJokyoKanri&quot; ) 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;QA reception&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_19_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>(  {!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokunaiKyotsu&quot; 
|| {!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokunaiIyo&quot; 
|| {!myVariable_old.RecordType.DeveloperName} = &quot;FAS_FRJokyoKanri&quot; ) 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status} , &quot;QA reception&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;QA reception&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_22</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status} , &quot;QA reception&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;QA reception&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_22_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status} , &quot;QA reception&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status, &quot;Answer return&quot; ) 
&amp;&amp; 
NOT( ISBLANK( [Case].SalesPerson__c ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_24</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status}, &quot;Answer return&quot; ) 
&amp;&amp; 
NOT( ISBLANK( {!myVariable_current.SalesPerson__c} ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status, &quot;Answer return&quot; ) 
&amp;&amp; 
NOT( ISBLANK( [Case].SalesPerson__c ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_24_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status}, &quot;Answer return&quot; ) 
&amp;&amp; 
NOT( ISBLANK( {!myVariable_old.SalesPerson__c} ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status, &quot;Answer return&quot; ) 
&amp;&amp; 
ISBLANK( [Case].SalesPerson__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_26</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status}, &quot;Answer return&quot; ) 
&amp;&amp; 
ISBLANK( {!myVariable_current.SalesPerson__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status, &quot;Answer return&quot; ) 
&amp;&amp; 
ISBLANK( [Case].SalesPerson__c ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_26_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status}, &quot;Answer return&quot; ) 
&amp;&amp; 
ISBLANK( {!myVariable_old.SalesPerson__c} )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;Customer response&quot; ) 
&amp;&amp; 
NOT( ISBLANK( [Case].KokyakuJuryoComment__c ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_28</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status} , &quot;Customer response&quot; ) 
&amp;&amp; 
NOT( ISBLANK( {!myVariable_current.KokyakuJuryoComment__c} ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;Customer response&quot; ) 
&amp;&amp; 
NOT( ISBLANK( [Case].KokyakuJuryoComment__c ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_28_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status} , &quot;Customer response&quot; ) 
&amp;&amp; 
NOT( ISBLANK( {!myVariable_old.KokyakuJuryoComment__c} ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;Customer response TSC confirmation&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_30</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_current.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_current.Status} , &quot;Customer response TSC confirmation&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>[Case].RecordType.DeveloperName = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( [Case].Status , &quot;Customer response TSC confirmation&quot; ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_30_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>{!myVariable_old.RecordType.DeveloperName} = &quot;FAS_KokyakuGoiken&quot; 
&amp;&amp; 
ISPICKVAL( {!myVariable_old.Status} , &quot;Customer response TSC confirmation&quot; )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>BEGINS( [Case].RecordType.DeveloperName , &quot;FAS&quot; ) 
&amp;&amp; 
(  ISPICKVAL( [Case].Status , &quot;QA reception&quot; ) 
|| ISPICKVAL( [Case].Status , &quot;Implementation of the measures&quot; ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS( {!myVariable_current.RecordType.DeveloperName} , &quot;FAS&quot; ) 
&amp;&amp; 
(  ISPICKVAL( {!myVariable_current.Status} , &quot;QA reception&quot; ) 
|| ISPICKVAL( {!myVariable_current.Status} , &quot;Implementation of the measures&quot; ) )</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>BEGINS( [Case].RecordType.DeveloperName , &quot;FAS&quot; ) 
&amp;&amp; 
(  ISPICKVAL( [Case].Status , &quot;QA reception&quot; ) 
|| ISPICKVAL( [Case].Status , &quot;Implementation of the measures&quot; ) ) </stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_8_pmetrule</name>
        <dataType>Boolean</dataType>
        <expression>BEGINS( {!myVariable_old.RecordType.DeveloperName} , &quot;FAS&quot; ) 
&amp;&amp; 
(  ISPICKVAL( {!myVariable_old.Status} , &quot;QA reception&quot; ) 
|| ISPICKVAL( {!myVariable_old.Status} , &quot;Implementation of the measures&quot; ) )</expression>
    </formulas>
    <interviewLabel>FAS_StatusUpdate-12_InterviewLabel</interviewLabel>
    <label>FAS_状況更新</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>Case</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_14_A1</name>
        <label>所有者変更(TSC)</label>
        <locationX>1400</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_14_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>所有者 ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_15_myRule_14_A1_9593113842</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_19_A1</name>
        <label>所有者変更(QA)</label>
        <locationX>1900</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_19_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>所有者 ID</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue>Group;User</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>OwnerId</field>
            <value>
                <elementReference>formula_20_myRule_19_A1_9073042372</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>長期停滞閾値設定</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>部品供給時間</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>PartsSupplyTime__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_9169748567</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>製造元QA技師派遣時間</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>QaDispatchTime__c</field>
            <value>
                <elementReference>formula_3_myRule_1_A1_0825112543</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>製造元QA連絡時間</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>QaInformTime__c</field>
            <value>
                <elementReference>formula_4_myRule_1_A1_4617661961</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>TSC技師派遣時間</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TscDispatchTime__c</field>
            <value>
                <elementReference>formula_5_myRule_1_A1_3506697925</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Number</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>上長TSC連絡時間</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>TscInformTime__c</field>
            <value>
                <elementReference>formula_6_myRule_1_A1_6759769322</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A1</name>
        <label>QA受付日時設定</label>
        <locationX>800</locationX>
        <locationY>200</locationY>
        <connector>
            <targetReference>myRule_8_A2</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>状況</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>QA reception</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>QA受付日時</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>QaAccesptDate__c</field>
            <value>
                <elementReference>formula_10_myRule_8_A1_3404559023</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>criteria</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>extraTypeInfo</name>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[Case]</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>referenceTargetField</name>
        </processMetadataValues>
        <name>myRule_8_A2</name>
        <label>対策実施中日時設定</label>
        <locationX>800</locationX>
        <locationY>300</locationY>
        <connector>
            <targetReference>myDecision11</targetReference>
        </connector>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>inputDataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>状況</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>operatorDataType</name>
                <value>
                    <stringValue>String</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <field>Status</field>
            <operator>EqualTo</operator>
            <value>
                <stringValue>Implementation of the measures</stringValue>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>DateTime</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>対策実施中日時</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideReferenceTo</name>
                <value>
                    <stringValue></stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>ImpleMeasuresDate__c</field>
            <value>
                <elementReference>formula_9_myRule_8_A2_8499275077</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>myDecision</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
</Flow>
