force-app/main/default/flows/shareAccount_user.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>error_messeage</name>
        <label>error</label>
        <locationX>284</locationX>
        <locationY>806</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varAccountShare_usr.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>insertShareRecords_acc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>addShared</name>
        <label>共有済みレコード</label>
        <locationX>485</locationX>
        <locationY>355</locationY>
        <assignmentItems>
            <assignToReference>sharedAccountIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCreatedAccountShare.AccountId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>lopforAlreadyShared</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addShareRecord_acc</name>
        <label>shareレコード</label>
        <locationX>272</locationX>
        <locationY>670</locationY>
        <assignmentItems>
            <assignToReference>createShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccountShare_usr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MappingShareRecord_acc</name>
        <label>shareレコード</label>
        <locationX>459</locationX>
        <locationY>671</locationY>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareFromUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareToAccountCur.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addShareRecord_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MappingShareRecord_acc_0</name>
        <label>shareレコード</label>
        <locationX>274</locationX>
        <locationY>570</locationY>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareFromUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareToAccountCur.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addShareRecord_acc</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>エラー時メール送信先</description>
        <name>errorTo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>takuya.toshima.kv@hitachi-hightech.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isAlreadyShared</name>
        <label>既存共有</label>
        <locationX>73</locationX>
        <locationY>354</locationY>
        <defaultConnector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>true2</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>existedAccountShares</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>lopforAlreadyShared</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>isAlreadyShared2</name>
        <label>共有済み判定</label>
        <locationX>273</locationX>
        <locationY>463</locationY>
        <defaultConnector>
            <targetReference>processByUserType</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>true3</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sharedAccountIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>shareToAccountCur.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopForCreateShare_acc</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>isShareToEmpty_acc</name>
        <label>施設情報件数判定</label>
        <locationX>72</locationX>
        <locationY>122</locationY>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>isNotShareToEmpty_acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shareToAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>shareFromUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>queryExistAccountShare</targetReference>
            </connector>
            <label>isShareToFound</label>
        </rules>
    </decisions>
    <decisions>
        <name>processByUserType</name>
        <label>processByUserType</label>
        <locationX>457</locationX>
        <locationY>470</locationY>
        <defaultConnector>
            <targetReference>MappingShareRecord_acc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>isNotAgency</defaultConnectorLabel>
        <rules>
            <name>isAgency</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>AgencyRole</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MappingShareRecord_acc_0</targetReference>
            </connector>
            <label>isAgency</label>
        </rules>
    </decisions>
    <description>(ユーザー作成/更新時)
施設情報の共有を行う</description>
    <interviewLabel>施設情報共有_ユーザー作成/ {!$Flow.CurrentDateTime}</interviewLabel>
    <label>施設情報共有_ユーザー作成/更新</label>
    <loops>
        <name>loopForCreateShare_acc</name>
        <label>shareレコード作成</label>
        <locationX>66</locationX>
        <locationY>559</locationY>
        <assignNextValueToReference>shareToAccountCur</assignNextValueToReference>
        <collectionReference>shareToAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>isAlreadyShared2</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>async</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>lopforAlreadyShared</name>
        <label>共有済みリスト</label>
        <locationX>270</locationX>
        <locationY>354</locationY>
        <assignNextValueToReference>varCreatedAccountShare</assignNextValueToReference>
        <collectionReference>existedAccountShares</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addShared</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertShareRecords_acc</name>
        <label>共有レコード作成</label>
        <locationX>65</locationX>
        <locationY>805</locationY>
        <connector>
            <targetReference>error_messeage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_messeage</targetReference>
        </faultConnector>
        <inputReference>createShareRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>queryExistAccountShare</name>
        <label>既存共有取得</label>
        <locationX>75</locationX>
        <locationY>239</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAlreadyShared</targetReference>
        </connector>
        <filters>
            <field>RowCause</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <filters>
            <field>UserOrGroupId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shareFromUserId</elementReference>
            </value>
        </filters>
        <object>AccountShare</object>
        <outputReference>existedAccountShares</outputReference>
        <queriedFields>AccountId</queriedFields>
    </recordLookups>
    <startElementReference>getShareTo</startElementReference>
    <status>Active</status>
    <subflows>
        <name>getShareTo</name>
        <label>getShareTo</label>
        <locationX>70</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>isShareToEmpty_acc</targetReference>
        </connector>
        <flowName>getShareToUser</flowName>
        <inputAssignments>
            <name>ShareToAreaKey</name>
            <value>
                <elementReference>ShareToArea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShareToState</name>
            <value>
                <elementReference>ShareToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShareFromContactId</name>
            <value>
                <elementReference>ShareFromContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareFromUserId</name>
            <value>
                <elementReference>shareFromUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>shareFromUserId</assignToReference>
            <name>shareFromUserId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shareToAccounts</assignToReference>
            <name>retAccounts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>AgencyRole</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>createShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>existedAccountShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>sharedAccountIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ShareFromContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>共有元のユーザId</description>
        <name>shareFromUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>shareToAccoountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>shareToAccountCur</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>共有先の施設情報レコードのリスト</description>
        <name>shareToAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ShareToArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ShareToState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>state</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountShare_usr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varCreatedAccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <waits>
        <name>async</name>
        <label>非同期化</label>
        <locationX>68</locationX>
        <locationY>692</locationY>
        <defaultConnectorLabel>[デフォルトパス]</defaultConnectorLabel>
        <waitEvents>
            <name>X1m</name>
            <conditionLogic>and</conditionLogic>
            <connector>
                <targetReference>insertShareRecords_acc</targetReference>
            </connector>
            <eventType>AlarmEvent</eventType>
            <inputParameters>
                <name>AlarmTime</name>
                <value>
                    <elementReference>$Flow.CurrentDateTime</elementReference>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffsetUnit</name>
                <value>
                    <stringValue>hour</stringValue>
                </value>
            </inputParameters>
            <inputParameters>
                <name>TimeOffset</name>
                <value>
                    <numberValue>0.05</numberValue>
                </value>
            </inputParameters>
            <label>1m</label>
            <outputParameters>
                <assignToReference>state</assignToReference>
                <name>AlarmTime</name>
            </outputParameters>
        </waitEvents>
    </waits>
</Flow>
