force-app/main/default/flows/ShareAccountToResponsibleUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>error_messeage</name>
        <label>error</label>
        <locationX>439</locationX>
        <locationY>1149</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varAccountShare_usr.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>insertShareRecords_acc</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>addAgencyManagerShare</name>
        <label>代理店マネージャー向け共有</label>
        <locationX>427</locationX>
        <locationY>913</locationY>
        <assignmentItems>
            <assignToReference>agencyAccountShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccountShare_usr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>share2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addId</name>
        <label>共有済みId追加</label>
        <locationX>408</locationX>
        <locationY>313</locationY>
        <assignmentItems>
            <assignToReference>sharedIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varCreatedAccountShare.UserOrGroupId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>createSharedId</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>addShareRecord_acc</name>
        <label>shareレコード</label>
        <locationX>240</locationX>
        <locationY>425</locationY>
        <assignmentItems>
            <assignToReference>createShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccountShare_usr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>agencyManager</name>
        <label>代理店マネージャー</label>
        <locationX>644</locationX>
        <locationY>611</locationY>
        <assignmentItems>
            <assignToReference>AgencyManagers</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>ShareToUsercur</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>agencyShareadd</name>
        <label>代理店担当</label>
        <locationX>250</locationX>
        <locationY>715</locationY>
        <assignmentItems>
            <assignToReference>agencyAccountShares</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccountShare_usr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MappingShareRecord_acc</name>
        <label>代理店向けAccountShare作成</label>
        <locationX>424</locationX>
        <locationY>708</locationY>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShareToUsercur.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareFromAccoountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>agencyShareadd</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MappingShareRecord_acc_0</name>
        <label>HTD向けAccountShare作成</label>
        <locationX>425</locationX>
        <locationY>429</locationY>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ShareToUsercur.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareFromAccoountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Edit</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addShareRecord_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MappingShareRecord_acc_1</name>
        <label>代理店マネージャー向けAccountShare作成</label>
        <locationX>428</locationX>
        <locationY>799</locationY>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>agencyManager2.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareFromAccoountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addAgencyManagerShare</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>エラー時メール送信先</description>
        <name>errorTo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>takuya.toshima.kv@hitachi-hightech.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isAgencyManagerFound</name>
        <label>件数判定</label>
        <locationX>44</locationX>
        <locationY>89</locationY>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>isManagerFound</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShareToUsers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>existedshare</targetReference>
            </connector>
            <label>対象</label>
        </rules>
    </decisions>
    <decisions>
        <name>noAgency</name>
        <label>共有先代理店担当なし</label>
        <locationX>44</locationX>
        <locationY>832</locationY>
        <defaultConnector>
            <targetReference>agencyShare</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>true4</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>agencyAccountShares</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>AgencyManagers</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>share2</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>notSHared</name>
        <label>共有未作成</label>
        <locationX>658</locationX>
        <locationY>433</locationY>
        <defaultConnector>
            <targetReference>MappingShareRecord_acc_0</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>false</defaultConnectorLabel>
        <rules>
            <name>true893</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>sharedIds</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>ShareToUsercur.Id</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopForCreateShare_acc</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>toHTD</name>
        <label>HTD向け共有</label>
        <locationX>53</locationX>
        <locationY>1060</locationY>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>true5</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>createShareRecords</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>insertShareRecords_acc</targetReference>
            </connector>
            <label>true</label>
        </rules>
    </decisions>
    <decisions>
        <name>type1</name>
        <label>種別ごと処理</label>
        <locationX>422</locationX>
        <locationY>602</locationY>
        <defaultConnector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>UniqueName1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShareToUsercur.ResponsibleAreaKey__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>shareToAreaKey</elementReference>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareToUsercur.isPortalManager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareToUsercur.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>MappingShareRecord_acc</targetReference>
            </connector>
            <label>isAgency</label>
        </rules>
        <rules>
            <name>isHTD</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShareToUsercur.ContactId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>ShareToUsercur.ResponsibleAreaKey__c</leftValueReference>
                <operator>Contains</operator>
                <rightValue>
                    <elementReference>shareToAreaKey</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>notSHared</targetReference>
            </connector>
            <label>isHTD</label>
        </rules>
        <rules>
            <name>isAgencyManager</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ShareToUsercur.isPortalManager__c</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>agencyManager</targetReference>
            </connector>
            <label>isAgencyManager</label>
        </rules>
    </decisions>
    <description>担当区域の代理店ユーザに取引先の参照権限を与える</description>
    <interviewLabel>取引先 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>施設情報共有_施設情報更新</label>
    <loops>
        <name>createSharedId</name>
        <label>共有済みIdリスト</label>
        <locationX>50</locationX>
        <locationY>316</locationY>
        <assignNextValueToReference>varCreatedAccountShare</assignNextValueToReference>
        <collectionReference>existedAccountShare</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>addId</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>loopForCreateShare_acc</name>
        <label>shareレコード作成</label>
        <locationX>42</locationX>
        <locationY>587</locationY>
        <assignNextValueToReference>ShareToUsercur</assignNextValueToReference>
        <collectionReference>ShareToUsers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>type1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>noAgency</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>share2</name>
        <label>代理店マネージャー向けshare</label>
        <locationX>220</locationX>
        <locationY>837</locationY>
        <assignNextValueToReference>agencyManager2</assignNextValueToReference>
        <collectionReference>AgencyManagers</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MappingShareRecord_acc_1</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>noAgency</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>agencyShare</name>
        <label>代理店向け共有</label>
        <locationX>49</locationX>
        <locationY>961</locationY>
        <connector>
            <targetReference>toHTD</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_messeage</targetReference>
        </faultConnector>
        <inputReference>agencyAccountShares</inputReference>
    </recordCreates>
    <recordCreates>
        <name>insertShareRecords_acc</name>
        <label>共有レコード作成</label>
        <locationX>53</locationX>
        <locationY>1167</locationY>
        <faultConnector>
            <targetReference>error_messeage</targetReference>
        </faultConnector>
        <inputReference>createShareRecords</inputReference>
    </recordCreates>
    <recordLookups>
        <name>existedshare</name>
        <label>既存共有検索</label>
        <locationX>46</locationX>
        <locationY>192</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>createSharedId</targetReference>
        </connector>
        <filters>
            <field>AccountId</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>shareFromAccoountId</elementReference>
            </value>
        </filters>
        <filters>
            <field>RowCause</field>
            <operator>NotEqualTo</operator>
            <value>
                <stringValue>Manual</stringValue>
            </value>
        </filters>
        <object>AccountShare</object>
        <outputReference>existedAccountShare</outputReference>
        <queriedFields>UserOrGroupId</queriedFields>
        <sortField>AccountId</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <recordLookups>
        <name>QueryResponsiblePersons_acc</name>
        <label>担当者検索</label>
        <locationX>47</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isAgencyManagerFound</targetReference>
        </connector>
        <filters>
            <field>IsActive</field>
            <operator>EqualTo</operator>
            <value>
                <booleanValue>true</booleanValue>
            </value>
        </filters>
        <filters>
            <field>ResponsibleState__c</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>ShareToState</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputReference>ShareToUsers</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>ResponsibleState__c</queriedFields>
        <queriedFields>isPortalManager__c</queriedFields>
        <queriedFields>ResponsibleAreaKey__c</queriedFields>
        <queriedFields>ContactId</queriedFields>
        <sortField>Name</sortField>
        <sortOrder>Asc</sortOrder>
    </recordLookups>
    <startElementReference>QueryResponsiblePersons_acc</startElementReference>
    <status>Active</status>
    <variables>
        <name>agencyAccountShares</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>agencyManager2</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>AgencyManagers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>createShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>existedAccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>sharedIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>shareFromAccoountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>shareToAreaKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ShareToState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ShareToUsercur</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>共有対象のユーザId</description>
        <name>shareToUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <description>共有先のユーザのリスト</description>
        <name>ShareToUsers</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <name>varAccountShare_usr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>varCreatedAccountShare</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
</Flow>
