force-app/main/default/flows/ShareAccount_forUpdateUser.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>error_messeage</name>
        <label>error</label>
        <locationX>297</locationX>
        <locationY>482</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>varAccountShare_usr.AccountId</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>insertShareRecords_acc</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>type</name>
            <value>
                <elementReference>$Flow.FaultMessage</elementReference>
            </value>
        </inputParameters>
        <outputParameters>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <name>feedItemId</name>
        </outputParameters>
    </actionCalls>
    <assignments>
        <name>addShareRecord_acc</name>
        <label>shareレコード</label>
        <locationX>301</locationX>
        <locationY>314</locationY>
        <assignmentItems>
            <assignToReference>createShareRecords</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>varAccountShare_usr</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>loopForCreateShare_acc</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>MappingShareRecord_acc</name>
        <label>shareレコード</label>
        <locationX>301</locationX>
        <locationY>188</locationY>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.UserOrGroupId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareFromUserId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Read</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>shareToAccountCur.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.CaseAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>varAccountShare_usr.OpportunityAccessLevel</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>None</stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>addShareRecord_acc</targetReference>
        </connector>
    </assignments>
    <constants>
        <description>エラー時メール送信先</description>
        <name>errorTo</name>
        <dataType>String</dataType>
        <value>
            <stringValue>takuya.toshima.kv@hitachi-hightech.com</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isShareToEmpty_acc</name>
        <label>施設情報件数判定</label>
        <locationX>72</locationX>
        <locationY>122</locationY>
        <defaultConnectorLabel>[デフォルトの結果]</defaultConnectorLabel>
        <rules>
            <name>isNotShareToEmpty_acc</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>shareToAccounts</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <conditions>
                <leftValueReference>shareFromUserId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>loopForCreateShare_acc</targetReference>
            </connector>
            <label>isShareToFound</label>
        </rules>
    </decisions>
    <description>(顧客情報更新時向け)
顧客情報またはユーザ情報の担当省、担当地区から
担当省、担当地区が一致する施設情報をクエリし、
共有権限を付与する</description>
    <interviewLabel>施設情報共有_ユーザ更新 {!$Flow.CurrentDateTime}</interviewLabel>
    <label>施設情報共有_顧客情報更新</label>
    <loops>
        <name>loopForCreateShare_acc</name>
        <label>shareレコード作成</label>
        <locationX>71</locationX>
        <locationY>267</locationY>
        <assignNextValueToReference>shareToAccountCur</assignNextValueToReference>
        <collectionReference>shareToAccounts</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>MappingShareRecord_acc</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>insertShareRecords_acc</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>insertShareRecords_acc</name>
        <label>共有レコード作成</label>
        <locationX>77</locationX>
        <locationY>487</locationY>
        <connector>
            <targetReference>error_messeage</targetReference>
        </connector>
        <faultConnector>
            <targetReference>error_messeage</targetReference>
        </faultConnector>
        <inputReference>createShareRecords</inputReference>
    </recordCreates>
    <startElementReference>getShareTo</startElementReference>
    <status>Active</status>
    <subflows>
        <name>getShareTo</name>
        <label>getShareTo</label>
        <locationX>70</locationX>
        <locationY>10</locationY>
        <connector>
            <targetReference>isShareToEmpty_acc</targetReference>
        </connector>
        <flowName>getShareToUser</flowName>
        <inputAssignments>
            <name>ShareToAreaKey</name>
            <value>
                <elementReference>ShareToArea</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShareToState</name>
            <value>
                <elementReference>ShareToState</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>ShareFromContactId</name>
            <value>
                <elementReference>ShareFromContactId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>shareFromUserId</name>
            <value>
                <elementReference>shareFromUserId</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>shareFromUserId</assignToReference>
            <name>shareFromUserId</name>
        </outputAssignments>
        <outputAssignments>
            <assignToReference>shareToAccounts</assignToReference>
            <name>retAccounts</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>createShareRecords</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
    <variables>
        <name>ShareFromContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>shareFromUser</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>User</objectType>
    </variables>
    <variables>
        <description>共有元のユーザId</description>
        <name>shareFromUserId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>shareToAccoountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>shareToAccountCur</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <description>共有先の施設情報レコードのリスト</description>
        <name>shareToAccounts</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>ShareToArea</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>ShareToState</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <value>
            <stringValue></stringValue>
        </value>
    </variables>
    <variables>
        <name>state</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>varAccountShare_usr</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>AccountShare</objectType>
    </variables>
</Flow>
