force-app/main/default/flows/SochiStatus_cov.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <assignments>
        <name>myVariable_waitStartTimeAssignment</name>
        <label>myVariable_waitStartTimeAssignment</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignmentItems>
            <assignToReference>myVariable_waitStartTimeVariable</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>$Flow.CurrentDateTime</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>myDecision</targetReference>
        </connector>
    </assignments>
    <decisions>
        <processMetadataValues>
            <name>index</name>
            <value>
                <numberValue>0.0</numberValue>
            </value>
        </processMetadataValues>
        <name>myDecision</name>
        <label>myDecision</label>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <defaultConnectorLabel>default</defaultConnectorLabel>
        <rules>
            <name>myRule_1</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>formula_myRule_1</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>myRule_1_A1</targetReference>
            </connector>
            <label>納入機器_装置ステータス変換</label>
        </rules>
    </decisions>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>CASE([T_KGK_ForwardingInfo__c].SochiStatus_GSS_SFDC__c , &apos;10&apos;, &apos;据付未完&apos;, &apos;20&apos;, &apos;据付完了&apos;, &apos;30&apos;, &apos;コピー元&apos;, &apos;40&apos;, &apos;休止中&apos;, &apos;50&apos;, &apos;推定廃棄&apos;, &apos;60&apos;, &apos;確定廃棄&apos;, &apos;90&apos;, &apos;販社倉庫在庫&apos;, null)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_2_myRule_1_A1_5813233070</name>
        <dataType>String</dataType>
        <expression>CASE({!myVariable_current.SochiStatus_GSS_SFDC__c} , &apos;10&apos;, &apos;据付未完&apos;, &apos;20&apos;, &apos;据付完了&apos;, &apos;30&apos;, &apos;コピー元&apos;, &apos;40&apos;, &apos;休止中&apos;, &apos;50&apos;, &apos;推定廃棄&apos;, &apos;60&apos;, &apos;確定廃棄&apos;, &apos;90&apos;, &apos;販社倉庫在庫&apos;, null)</expression>
    </formulas>
    <formulas>
        <processMetadataValues>
            <name>originalFormula</name>
            <value>
                <stringValue>IF(ISNEW() ,[T_KGK_ForwardingInfo__c].RecordType.DeveloperName = &apos;RT_KaigaiIyoHokokusho&apos;,
ISCHANGED([T_KGK_ForwardingInfo__c].SochiStatus_GSS_SFDC__c ) 
)</stringValue>
            </value>
        </processMetadataValues>
        <name>formula_myRule_1</name>
        <dataType>Boolean</dataType>
        <expression>IF(ISNEW() ,{!myVariable_current.RecordType.DeveloperName} = &apos;RT_KaigaiIyoHokokusho&apos;,
ISCHANGED({!myVariable_current.SochiStatus_GSS_SFDC__c} ) 
)</expression>
    </formulas>
    <interviewLabel>SochiStatus_cov-4_InterviewLabel</interviewLabel>
    <label>納入機器_装置ステータス変換</label>
    <processMetadataValues>
        <name>ObjectType</name>
        <value>
            <stringValue>T_KGK_ForwardingInfo__c</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>ObjectVariable</name>
        <value>
            <elementReference>myVariable_current</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OldObjectVariable</name>
        <value>
            <elementReference>myVariable_old</elementReference>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>TriggerType</name>
        <value>
            <stringValue>onAllChanges</stringValue>
        </value>
    </processMetadataValues>
    <processType>Workflow</processType>
    <recordUpdates>
        <processMetadataValues>
            <name>evaluationType</name>
            <value>
                <stringValue>always</stringValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>isChildRelationship</name>
            <value>
                <booleanValue>false</booleanValue>
            </value>
        </processMetadataValues>
        <processMetadataValues>
            <name>reference</name>
            <value>
                <stringValue>[T_KGK_ForwardingInfo__c]</stringValue>
            </value>
        </processMetadataValues>
        <name>myRule_1_A1</name>
        <label>納入機器_装置ステータス変換</label>
        <locationX>100</locationX>
        <locationY>200</locationY>
        <filters>
            <processMetadataValues>
                <name>implicit</name>
                <value>
                    <booleanValue>true</booleanValue>
                </value>
            </processMetadataValues>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>myVariable_current.Id</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <processMetadataValues>
                <name>dataType</name>
                <value>
                    <stringValue>Picklist</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>isRequired</name>
                <value>
                    <booleanValue>false</booleanValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>leftHandSideLabel</name>
                <value>
                    <stringValue>装置ステータス2</stringValue>
                </value>
            </processMetadataValues>
            <processMetadataValues>
                <name>rightHandSideType</name>
                <value>
                    <stringValue>Formula</stringValue>
                </value>
            </processMetadataValues>
            <field>HontaiSouchiStatus__c</field>
            <value>
                <elementReference>formula_2_myRule_1_A1_5813233070</elementReference>
            </value>
        </inputAssignments>
        <object>T_KGK_ForwardingInfo__c</object>
    </recordUpdates>
    <startElementReference>myVariable_waitStartTimeAssignment</startElementReference>
    <status>Active</status>
    <variables>
        <name>myVariable_current</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>true</isOutput>
        <objectType>T_KGK_ForwardingInfo__c</objectType>
    </variables>
    <variables>
        <name>myVariable_old</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>T_KGK_ForwardingInfo__c</objectType>
    </variables>
    <variables>
        <name>myVariable_waitStartTimeVariable</name>
        <dataType>DateTime</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <value>
            <elementReference>$Flow.CurrentDateTime</elementReference>
        </value>
    </variables>
</Flow>
