force-app/main/default/flows/SystemInquiry_ReceptionFlow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <name>En_Chatter</name>
        <label>En_Chatter</label>
        <locationX>317</locationX>
        <locationY>403</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>SystemTantosyaUpdate</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>En_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>i_CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <actionCalls>
        <name>JaChatter</name>
        <label>Ja用チャッターに投稿</label>
        <locationX>581</locationX>
        <locationY>219</locationY>
        <actionName>chatterPost</actionName>
        <actionType>chatterPost</actionType>
        <connector>
            <targetReference>SystemTantosyaUpdate</targetReference>
        </connector>
        <inputParameters>
            <name>text</name>
            <value>
                <elementReference>ja_Template</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>subjectNameOrId</name>
            <value>
                <elementReference>i_CaseId</elementReference>
            </value>
        </inputParameters>
    </actionCalls>
    <constants>
        <name>isJaLang</name>
        <dataType>String</dataType>
        <value>
            <stringValue>ja</stringValue>
        </value>
    </constants>
    <decisions>
        <name>isJa</name>
        <label>isJa</label>
        <locationX>307</locationX>
        <locationY>220</locationY>
        <defaultConnector>
            <targetReference>En_Chatter</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>デフォルトの結果</defaultConnectorLabel>
        <rules>
            <name>JaExist</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>g_LanguageLocalKey</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>isJaLang</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>JaChatter</targetReference>
            </connector>
            <label>isJa</label>
        </rules>
    </decisions>
    <description>状況が受付済みに変更されたタイミングでプロセスビルダーにより起動される。
ユーザの言語を参照しchatterを自動配信。問い合わせ受付日時を自動入力・更新。</description>
    <formulas>
        <name>UketsukeTime</name>
        <dataType>DateTime</dataType>
        <expression>{!$Flow.CurrentDateTime}</expression>
    </formulas>
    <formulas>
        <name>userId</name>
        <dataType>String</dataType>
        <expression>{!$User.I_18__c}</expression>
    </formulas>
    <interviewLabel>問い合わせ_受付フロー {!$Flow.CurrentDateTime}</interviewLabel>
    <label>問い合わせ_受付フロー</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordLookups>
        <name>GassCaseMaintance</name>
        <label>GASSケース対応</label>
        <locationX>315</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>isJa</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>CaseObj.OwnerId</elementReference>
            </value>
        </filters>
        <object>User</object>
        <outputAssignments>
            <assignToReference>g_LanguageLocalKey</assignToReference>
            <field>LanguageLocaleKey</field>
        </outputAssignments>
    </recordLookups>
    <recordLookups>
        <name>GetCase</name>
        <label>ケース取得</label>
        <locationX>183</locationX>
        <locationY>50</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>GassCaseMaintance</targetReference>
        </connector>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>i_CaseId</elementReference>
            </value>
        </filters>
        <object>Case</object>
        <outputReference>CaseObj</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>OwnerId</queriedFields>
    </recordLookups>
    <recordUpdates>
        <name>SystemTantosyaUpdate</name>
        <label>SystemTantosyaUpdate</label>
        <locationX>581</locationX>
        <locationY>403</locationY>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>i_CaseId</elementReference>
            </value>
        </filters>
        <inputAssignments>
            <field>SystemInquiry_ReceivedDate__c</field>
            <value>
                <elementReference>UketsukeTime</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>SystemStaff__c</field>
            <value>
                <elementReference>userId</elementReference>
            </value>
        </inputAssignments>
        <object>Case</object>
    </recordUpdates>
    <startElementReference>GetCase</startElementReference>
    <status>Draft</status>
    <textTemplates>
        <name>En_Template</name>
        <text>@[{!CaseObj.OwnerId}]san
I received this case.
We will contact you as soon as we confirm, so please wait for a while.
Thank you.</text>
    </textTemplates>
    <textTemplates>
        <name>ja_Template</name>
        <text>@[{!CaseObj.OwnerId}]様
いつもお世話になっております。
本件、受付致しました。
確認次第ご連絡差し上げますので、今しばらくお待ち下さいますようお願い申し上げます。</text>
    </textTemplates>
    <variables>
        <name>CaseObj</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Case</objectType>
    </variables>
    <variables>
        <name>g_LanguageLocalKey</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>i_CaseId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
